<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tc="http://www.morphbit.com/thymeleaf/component">
<head>
</head>
<body>
	
    <div th:fragment="valid-input">
<!--         data-th-class="(${#fields.hasErrors('?[field]')} ? 'has-error ' : '') + 'form-group'" -->

        <label th:text="${title}"></label>
        <input
            type="text"
            data-th-field="*{?[field]}"
            class="form-control" />
<!--         <span -->
<!--             class="help-block" -->
<!--             data-th-if="${#fields.hasErrors('?[field]')}" -->
<!--             data-th-errors="*{?[field]}">*Errors*</span> -->
    </div>
    
</body>
</html>